* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-touch-callout: none;
    -webkit-user-select: none; /* Disable selection/Copy of UIWebView */
}

.stage DIV {
  border:1px solid #000;
  padding:40px 0px 40px 10px;
  height:60px;
}

.dot {
  position:absolute;
  background-color:red;
  width:20px;
  height:20px;
  border:1px solid #000;
}

.drag {-webkit-transition:all 0 cubic-bezier(0, 0, 0.2, 1) !important;}
.slow {-webkit-transition:all 0.35s ease-in-out !important;}